:root {
  --first-color: #f0ece2;
  --primary-font: "Quicksand", sans-serif;
}
body {
  background-color: #ffff;
}
h1 {
  font-family: var(--primary-font);
  color: black;
  font-size: 60px;
}
h2 {
  font-family: var(--primary-font);
  color: black;
  font-size: 40px;
}
h3,
p {
  font-family: var(--primary-font);
  font-size: 20px;
}
a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: var(--primary-font);
}
.container {
  margin-top: 20px;
}
.content {
  width: 800px;
  padding: 195px;
  margin: auto;
  margin-top: 50px;
  background: var(--first-color);
  border-radius: 15px;
}
.icon {
  text-align: center;
  margin-top: 40px;
}
.icon:hover {
  pointer-events: stroke;
}
.btn-see-more {
  background: var(--first-color);
  border-radius: 4px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--primary-font);
}

@media (max-width: 900px) {
 project-description {
  padding: 0;
  text-align: center;
}
